<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Label</key><string>com.srednal.spotwx</string>

    <!-- run as user dave -->
    <key>UserName</key><string>dave</string>

    <!-- Note that default paths for security and logging are relative to here -->
    <key>WorkingDirectory</key><string>/Users/dave/dev/spot-wx</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/opt/openjdk/bin/java</string>
        <string>-jar</string>
        <string>./build/libs/spot-wx-1.0-all.jar</string>
    </array>

    <key>OnDemand</key><false/>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><true/>

    <!-- these should be empty, but just in case... -->
    <key>StandardOutPath</key><string>./log/spotwx-stdout.log</string>
    <key>StandardErrorPath</key><string>./log/spotwx-stderr.log</string>

</dict>
</plist>
